<div>
  <button type="button" class = "bt" (click)="closeModal()">&times;</button>
</div>
<div class="oppia-learner-hint-and-solution-modal-title">
  <span [innerHTML]="'I18N_HINT_TITLE' | translate"></span>
</div>

<div class="modal-body">
  <button class="left-arrow"> < </button>
  <button class="right-arrow"> > </button>
  <div class = "sp">
     <oppia-rte-output-display class="oppia-learner-hint-and-solution-modal-body"
                              [rteString]="hint.html">
    </oppia-rte-output-display>
    
  </div>
</div>
<button class="oppia-learner-got-it-button e2e-test-learner-got-it-button md-button md-default-theme"
        (click)="closeModal()">
  <span [innerHTML]="'I18N_GOT_IT' | translate"></span>
</button>
  
<span class="clearfix"></span>

<style>
  .left-arrow{
    float: left;
    background: none;
    border: none;
    font-size: 2.5rem;
  }
  .right-arrow{
    float: right;
    background: none;
    border: none;
    font-size: 2.5rem;
  }
  .bt{
     position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000; /* or #fff if on dark background */
    padding: 0;
    line-height: 1;
  }
  .oppia-learner-hint-and-solution-modal-title {
    color: #00786d;
    font-family: 'Capriola', Roboto, arial, sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
  }

  .oppia-learner-got-it-button  {
    background-color: #00786d;
    width: 280px;
    display: block;
    margin-right: auto;
    margin-left: auto;

  }
  @media screen and (max-width: 768px) {
    .oppia-learner-got-it-button  {
      width: 296px;

    }
  }



  .oppia-learner-hint-and-solution-modal-body {
    text-align: center;
   
   
  }
  .sp{
    border: 2px solid yellow;
  }

  .modal-body {
    max-height: calc(85vh - 125px);
    overflow-y: auto;
    border: 2px solid darkred;
    
  }
</style>
