
<div class="modal-body">
  <span class="oppia-learner-solution-interstitial-modal-body">
    <span [innerHTML]="'Are you sure you want to view the solution?'"></span>
  </span>
</div>

<div class="oppia-learner-solution-container">
  <button class="oppia-learner-solution-button"
          (click)="confirm()">
    <span [innerHTML]="'I18N_SHOW_SOLUTION_BUTTON' | translate"></span>
  </button>
  <button class="oppia-learner-solution-button"
          (click)="cancel()">
    <span [innerHTML]="'I18N_MODAL_CANCEL_BUTTON' | translate"></span>
  </button>
</div>
<span class="clearfix"></span>

<style>
  .oppia-learner-solution-interstitial-modal-body {
    word-wrap: break-word;
  }
  .modal-body {
    margin-top: 70px;
    text-align: center;
  }

  .oppia-learner-solution-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
  }

  .oppia-learner-solution-button {
    background-color: #00786d;
    border-color: #00786d;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    min-width: 120px;
    padding: 10px 20px;
  }


  .oppia-learner-solution-button:hover {
    background-color: white;
    color: #00786d;
  }

</style>
